.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: #fff;
  padding: 5px 60px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

h2 {
  font-size: 16px;
}
